<div class="h-screen overflow-y-scroll bg-gray-300">
  <div class="w-full h-36 bg-indigo-600 relative">
    <div class="absolute -bottom-20 left-1/3 right-1/4">
      <img
        class="w-44 h-44 rounded-full border-4 border-white"
        src="assets/female-01.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="mx-5">
    <div class="mt-24 mb-5 font-semibold text-xl md:text-3xl">
      Informations Personnelles
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div
      class="px-5 py-10 bg-white rounded-xl flex flex-col space-y-3 text-gray-600"
    >
      <div class="md:text-lg font-medium">Informations Personnelles</div>
      <div class="grid grid-cols-1 md:grid-cols-6 gap-5 text-sm">
        <div class="flex flex-col col-span-3">
          <label class="pl-1" for="nom">Nom</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="text"
            id="nom"
            placeholder="Entrez votre nom"
          />
        </div>
        <div class="flex flex-col col-span-3">
          <label class="pl-1" for="nom">Prénom</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="text"
            id="nom"
            placeholder="Entrez votre prénom"
          />
        </div>
        <div class="flex flex-col col-span-2">
          <label class="pl-1" for="nom">Date de naissance</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="date"
            id="nom"
            placeholder="Entrez votre Date de naissance"
          />
        </div>
        <div class="flex flex-col col-span-4">
          <label class="pl-1" for="nom">Email</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="email"
            id="nom"
            readonly
            placeholder="Entrez votre Email"
            value="test@test.com"
          />
        </div>
      </div>
      <div class="flex justify-end items-center">
        <span
          class="flex flex-row space-x-3 items-center bg-indigo-200 cursor-pointer hover:bg-indigo-600 hover:text-white text-indigo-600 px-7 text-sm py-3 border rounded-full"
        >
          <span class="h-5 w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              fit=""
              height="100%"
              width="100%"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
              <path
                fill-rule="evenodd"
                d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path></svg
          ></span>
          <span>Enregistrer</span></span
        >
      </div>
    </div>
  </div>

  <div class="mx-5 my-10">
    <div class="mb-5 font-semibold text-3xl">
      Informations sur la photo de profile
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div
      class="px-5 py-10 bg-white rounded-xl flex flex-col space-y-3 text-gray-600"
    >
      <div class="text-lg font-medium">Informations Personnelles</div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-5 justify-center items-center text-sm"
      >
        <div class="flex justify-center items-center">
          <img
            class="w-full md:w-2/3"
            src="assets/female-01.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div>
          <input class="" type="file" name="" id="" />
        </div>
      </div>
      <div class="flex justify-end items-center">
        <span
          class="flex flex-row space-x-3 items-center bg-indigo-200 cursor-pointer hover:bg-indigo-600 hover:text-white text-indigo-600 px-7 text-sm py-3 border rounded-full"
        >
          <span class="h-5 w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              fit=""
              height="100%"
              width="100%"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
              <path
                fill-rule="evenodd"
                d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path></svg
          ></span>
          <span>Enregistrer</span></span
        >
      </div>
    </div>
  </div>

  <div class="mx-5 my-10">
    <div class="mb-5 font-semibold text-xl md:text-3xl">
      Gestion du mot de passe
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div
      class="px-5 py-10 bg-white rounded-xl flex flex-col space-y-3 text-gray-600"
    >
      <div class="md:text-lg font-medium">Modifiez votre mot de passe</div>
      <div class="grid grid-cols-1 md:grid-cols-1 gap-5 text-sm">
        <div class="flex flex-col col-span- md:w-1/3">
          <label class="pl-1" for="Apwd">Ancien Mot de passe</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="password"
            id="Apwd"
            placeholder="Ancien Mot de Passe"
          />
        </div>
        <div class="flex flex-col col-span- md:w-1/3">
          <label class="pl-1" for="Npwd">Noveau mot de passe</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="text"
            id="Npwd"
            placeholder="Nouveau mot de passe"
          />
        </div>
        <div class="flex flex-col col-span- md:w-1/3">
          <label class="pl-1" for="cpwd">Confirmation du mot de passe</label>
          <input
            class="border border-indigo-400 outline px-3 py-2 h rounded-lg w-full"
            type="password"
            id="cpwd"
            placeholder="Confirmez votre mot de passe"
          />
        </div>
      </div>
      <div class="flex items-center">
        <span
          class="flex flex-row space-x-3 items-center bg-indigo-200 cursor-pointer hover:bg-indigo-600 hover:text-white text-indigo-600 px-7 text-sm py-3 border rounded-full"
        >
          <span class="h-5 w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              fit=""
              height="100%"
              width="100%"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path>
              <path
                fill-rule="evenodd"
                d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              ></path></svg
          ></span>
          <span>Enregistrer</span></span
        >
      </div>
    </div>
  </div>
</div>
